<% include header.html %>
      <script type="text/javascript">loadComments('<%= url %>');</script>
      <div style='width:50%; margin-left:auto; margin-right:auto'>
          <h3 id='post-title'></h3>
          <p id='post-selftext'></p>
      </div>
      <table id='comments'>

      </table>
<% include footer.html %>
