<% include header.html %>
      <script>loadListing('<%= url %>');</script>
      <table>
        <thead>
          <tr>
            <th>Subreddit</th>
            <th>Score</th>
            <th>Cmnts</th>
            <th>NSFW</th>
            <th width='100%'>Title</th>
          </tr>
        </thead>
        <tbody id='listing-table'>
          
        </tbody>
      </table>
      <h3 id='loadNext' style='display:none'>Next Page</h3>
<% include footer.html %>
